---
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.17.6
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/frnmst/md-toc
    rev: 7.2.0
    hooks:
      - id: md-toc
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
        exclude: '.license-check.yaml'
      - id: fix-encoding-pragma
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/kontrolilo/kontrolilo
    rev: v1.8.1
    hooks:
      - id: license-check-configuration-lint
      - id: license-check-pipenv
        exclude: 'tests/integration/Pipfile'
