[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
ignore = "*"
requests = "*"
requests-cache = "*"
texttable = "*"

[dev-packages]
GitPython = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = { version = "*", extras = ['psutil'] }
python-semantic-release = "*"
pipenv-setup = "*"
httptest = "*"

[requires]
python_version = "3.7"
