name: run all tests
on:
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        token: ${{ secrets.GitHubToken }}
    - name: set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: setup environment
      run: |
        which python
        make ci-setup-environment
        make local-setup
    - name: run linter
      run: make lint
    - name: test & publish code coverage
      uses: paambaati/codeclimate-action@v2.7.5
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CodeClimateReporterID }}
      with:
        coverageCommand: make test
        debug: true
    - name: determine potential release version
      run: make print-release
