name: release project
on:
  push:
    branches: [ main ]
jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        token: ${{ secrets.GitHubToken }}
    - name: set up python
      uses: actions/setup-python@v2
      with:
        python-version: 3.14
    - name: setup environment
      run: |
        make ci-setup-environment
        make local-setup
    - name: run linter
      run: make lint
    - name: test & publish code coverage
      uses: paambaati/codeclimate-action@v2.7.5
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CodeClimateReporterID }}
      with:
        coverageCommand: make test
        debug: true
    # - name: publish release
    #   run: |
    #     git config --global user.name "github-actions"
    #     git config --global user.email "action@github.com"
    #     make release
    #   env:
    #     GH_TOKEN: ${{ secrets.GitHubToken }}
